<h1>New Client</h1>

<div class = "row" ng-controller="SignUpCtrl">
  <div class = "span6 offset3">

    <form novalidate>
      First Name: <input type="text" ng-model="client.first_name" />
      Last Name: <input type="text" ng-model="client.last_name" />

      <hr>
      <div ng-repeat="pet in pets">
        Pet Name: <input type="text" ng-model="pet.name" />
      </div>

      <button type="button" ng-click="addPetRow()">Add Pet</button>
      <br>
      <hr>
      <button type="button" ng-click="submit()" class="btn-large btn-primary">Save Client</button>
    </form>

  </div>
</div>


<p>Find me in app/views/clients/new.html.erb</p>
